# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
cyberscan.db
reports/
*.pdf
*.json

# VS Code / IDEs
.vscode/
.idea/
*.swp
